<%- include('../includes/head.ejs') %>

    <body class="vh-100 d-flex flex-column" id="intro">
        <%- include('../includes/header.ejs') %>
            <main class="d-flex flex-column container flex-grow-1">
                <form action="/admin/edit-product" method="post" class="w-100 m-auto" style="max-width: 330px;"
                    enctype="multipart/form-data">
                    <h1 style="text-align: center; color: red;">EDIT PRODUCT</h1>
                    <div class="form-floating mb-3">
                        <input type="text" value="<%= product.title %>" class="form-control mb-3" id="floatingTitle" name="title" placeholder="title">
                        <label for="floatingTitle">Title</label>
                    </div>
                    <div class="form-floating">
                        <input type="number" value="<%= product.price %>" step="0.01" class="form-control mb-3" id="floatingPrice" name="price"
                            placeholder="Price">
                        <label for="floatingPrice">Price</label>
                    </div>
                    <div class="form-floating">
                        <textarea type="text"  class="form-control mb-3" id="floatingdescription" name="description"
                            placeholder="description" style="height: 100px;"><%= product.description %></textarea>
                        <label for="floatingdescription">Description</label>
                    </div>
                    <input type="file" class="form-control mb-3" name="image">
                    <input type="hidden" name="imageUrl" value="<%=product.imageUrl%>">
                    <input type="hidden" name="productId" value="<%= product._id%>">
                    <button class="btn btn-primary w-100" type="submit">Update Product</button>
                </form>
            </main>

            <%- include('../includes/foot.ejs') %>
    </body>

    </html>